<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Анализатор страниц: ввод URL</title>
    <link rel="stylesheet" type="text/css" media="all" href="./style.css" th:href="@{/style.css}" />
</head>
<body>
<section>
    <nav>
        <a style="color: white" href="/">главная</a>
        <a href="/urls/">список URL</a>
    </nav>
    <div>
        <h1>Анализатор страниц!</h1>
        <p>Укажите URL для проверки</p>
        <form action="/urls/" method="post" >
            <label class="sr-only" >Проверяемый URL</label>
            <input name="url" placeholder="пример: https:/yandex.ru" type="text" />
            <button type="submit">Применить</button>
        </form>
    </div>
</section>
</body>
</html>