<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Выбранный URL</title>
<!--    <link rel="stylesheet" type="text/css" media="all" href="./style.css" th:href="@{/static/style.css}" />-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" th:href="@{/style.css}"/>
</head>
<body>
<section class="site">
    <nav>
        <a href="/">главная</a>
        <a style="color: white" href="/urls/">список URL</a>
    </nav>

    <div style="margin: 0; padding: 0.5rem 2rem"
         class="alert alert-success alert-dismissible fade show"
        th:hidden="${!urlIsChecked}">
        Страница успешно проверена
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div style="padding: 1rem 2rem ">
        <h4 th:text="${Url.name}">Сайт https://example.ru</h4>
        <table class="site">
            <tr>
                <td class="left" style="width: 45vw">ID</td>
                <td class="left" style="width: 45vw" th:text="${Url.getId()}">2</td>
            </tr>
            <tr>
                <td class="left">Имя</td>
                <td class="left" th:text="${Url.getName()}">https://example.ru</td>
            </tr>
            <tr>
                <td class="left">Дата добавления</td>
                <td class="left" th:text="${#dates.format(Url.getCreatedAt(), 'dd MMM yyyy HH:mm')}">10.02.2000 23:54</td>
            </tr>
        </table>

        <h4 style="margin-top: 1rem; margin-bottom: 0.5rem">Проверки</h4>
        <form method="post" action="#" th:action="@{/urls/{urlId}/checks/(urlId=${Url.getId()})}">
            <button type="submit" style="width: 7rem; font-size: 0.6rem; margin-bottom: 0.6rem">Запустить проверку</button>
        </form>
        <table class="site">
            <thead>
                <th class="center" style="width: 4vw">id</th>
                <th class="center" style="width: 8vw">код ответа</th>
                <th class="center" style="width: 18vw">title</th>
                <th class="center" style="width: 18vw">h1</th>
                <th class="center" style="width: 28vw"> description</th>
                <th class="center" style="width: 14vw">дата проверки</th>
            </thead>
            <tr th:each="UrlCheck : ${ListOfUrlChecks}">
                <td class="center" th:text="${UrlCheck.getId()}">4</td>
                <td class="center" th:text="${UrlCheck.getStatusCode()}">200</td>
                <td class="center" th:text="${UrlCheck.getTitle()}">titles text</td>
                <td class="center" th:text="${UrlCheck.getH1()}">some H1</td>
                <td class="center" th:text="${UrlCheck.getDescription()}">descriptions text frskjfbsrkjf fhjgrwufgsiruf
                     uwfgieufgwifg weufgweiueg fjsrbfjsb rjbw4jfw4b jrbw4jfb ejfsjrbfj jf rjf r b jrbfsrbfkrsbf fbrfbribf
                    rkfbrjfb krfbrfbirfbwjfv kjggug kjguggiu qqqqq</td>
                <td class="center" th:text="${#dates.format(UrlCheck.getCreatedAt(), 'dd MMM yyyy HH:mm')}"> 01.08.2020</td>
            </tr>
        </table>
    </div>
</section>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>